# Ignorar archivo JSON sensible dentro de app/src
app/src/service-account-file.json

# Ignorar archivo local.properties (generalmente con configuración local)
local.properties

# Ignorar carpeta build dentro de app
app/build/

# Ignorar carpeta .gradle (puede estar en raíz o en app)
.gradle/

functions/.env