<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="MissingLeanbackLauncher">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION" tools:ignore="CoarseFineLocation" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GeinzWork"
        android:largeHeap="true"
        android:hardwareAccelerated="true"
        tools:targetApi="31">

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC0Jsr7dV5sHvE7HQpX5-RhSIxhwsZ1wOA" />

<!--        <activity-->
<!--            android:name=".ui.adapters.ui.map.map_google"-->
<!--            android:exported="false"-->
<!--            android:label="@string/title_activity_map_google" />-->
        <activity
            android:name=".ui.adapters.ui.uso_geinz.como_usar_geinz_trabajadores"
            android:exported="false"
            android:label="@string/title_activity_como_usar_geinz_trabajadores"
            android:theme="@style/Theme.GeinzWork" />
        <activity
            android:name=".ui.adapters.ui.quienes_somos_geinz_work"
            android:exported="false"
            android:label="@string/title_activity_quienes_somos_geinz_work"
            android:theme="@style/Theme.GeinzWork" />
<!--        <activity-->
<!--            android:name=".ui.adapters.ui.nosotros_geinz_work.nosotros_geinz_work"-->
<!--            android:exported="false"-->
<!--            android:label="@string/title_activity_nosotros_geinz_work"-->
<!--            android:theme="@style/Theme.GeinzWork" />-->
        <activity
            android:name=".ui.adapters.ui.localizate_geinz_wokr_ui"
            android:exported="false"
            android:label="@string/title_activity_localizate_geinz_wokr_ui"
            android:theme="@style/Theme.GeinzWork" />
        <activity
            android:name=".fragmentos.cuenta_config.cuenta_config"
            android:exported="false" />
        <activity
            android:name=".fragmentos.apartados_compra_venta.compra_trabajador"
            android:exported="false" />
        <activity
            android:name=".fragmentos.apartados_compra_venta.venta_trabajador"
            android:exported="false" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".herramientas_geinz.inicio_geinz_work"
            android:exported="false" />
        <activity
            android:name=".herramientas_geinz.herramientas_geinz"
            android:exported="false" />
        <activity
            android:name=".FuncionalidadGeinz.accesos_directos_geinz_work"
            android:exported="false" />
        <activity
            android:name=".vistaTrabajador.ver_productos_publicados"
            android:exported="false" />
        <activity
            android:name=".vistas_principales.tu_trabajo_habla_porti"
            android:exported="false" />
        <activity
            android:name=".noticias_trabajadores_guardados"
            android:exported="false" />
        <activity
            android:name=".vistas_p.onboarding_como_usar_geinz"
            android:exported="false" />
        <activity
            android:name=".activity_dispositivos_vinculados"
            android:exported="true" />
        <activity
            android:name=".vistas_principales.tipos_verificaciones_geinz"
            android:exported="false" />
        <activity
            android:name=".vista_denuncia_reporte"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.ApiSclasScrenn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OnboardingActivity"
            android:exported="true" />
        <activity
            android:name=".crear_publicacion_productos_trabajadores"
            android:exported="false" />
        <activity
            android:name=".vistaTrabajador.ver_publicaciones_vista_verificados"
            android:exported="false" />
        <activity
            android:name=".Crea_trabajos_publicaciones"
            android:exported="false" />
        <activity
            android:name=".crear_publicaciones_recientes"
            android:exported="false" />
        <activity
            android:name=".vistaTrabajador.ver_toto_publicaciones_trabajador"
            android:exported="false" />
        <activity
            android:name=".fragmentos.panel_publicacion_trabajador"
            android:exported="true" />
        <activity
            android:name=".vistaTrabajador.vista_ver_productos_trabajadores"
            android:exported="false" />
        <activity
            android:name=".vistaTrabajador.vista_ver_publicaciones_trabajadores"
            android:exported="false" />
        <activity
            android:name=".fragmentos.productosPublicadosVista.compras_productos_vendedor"
            android:exported="false" />
        <activity
            android:name=".fragmentos.productosPublicadosVista.ver_mas_productos_publicados_trabajadores"
            android:exported="false" />
        <activity
            android:name=".publicaciones_trabajadores.mostrarTodosTrabajos"
            android:exported="false" />
        <activity
            android:name=".crea_tu_noticia"
            android:exported="false" />
        <activity
            android:name=".vistaTrabajador.ver_promociones"
            android:exported="false" />
        <activity
            android:name=".servicios_geinz.publicidad_servicios_geinz_activity"
            android:exported="false" />
        <activity
            android:name=".servicios_geinz.noticias_servicios_geinz_activity"
            android:exported="false" />
        <activity
            android:name=".oferta_principales_geinz"
            android:exported="false" />
        <activity
            android:name=".vistaTiendas.agregarPagoComprareservaTiendas"
            android:exported="false" />
        <activity
            android:name=".vistaTiendas.direccion_entrega_lat_log"
            android:exported="false" />
        <activity
            android:name=".vistaTrabajador.promocionesvista"
            android:exported="true">
            <intent-filter>
                <action android:name="PROMO_SUGERIDAS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".vistaTiendas.tienda_no_lanzada_spasl"
            android:exported="false" />
        <activity
            android:name=".problemas_soporte_politicas.politicas_creacion_cuenta"
            android:exported="false" />
        <activity
            android:name=".servicios_geinz.planes_noticias_servicios_geinz"
            android:exported="false" />
        <activity
            android:name=".servicios_geinz.cambiar_imagenes_publicidad_noticias_servicios"
            android:exported="false" />
        <activity
            android:name=".servicios_geinz.serviciosGeinz"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="SERVICIOS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".problemas_soporte_politicas.reportes_users"
            android:exported="true">
            <intent-filter>
                <action android:name="REPORTE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GenerarQR_trabajador"
            android:exported="true" />
        <activity
            android:name=".publicaciones_trabajadores.voleta_estado_verificacion"
            android:exported="false" />
        <activity
            android:name=".ver_publicaciones"
            android:exported="false" />
        <activity
            android:name=".crear_trabajos_realizados"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".problemas_soporte_politicas.veneficios_verificados"
            android:exported="false" />
        <activity
            android:name=".problemas_soporte_politicas.politicas_verificacion"
            android:exported="false" />
        <activity
            android:name=".problemas_soporte_politicas.verificacion_cuenta_trabajador"
            android:exported="false" />
        <activity
            android:name=".problemas_soporte_politicas.politicas_geinz"
            android:exported="false" />
        <activity
            android:name=".problemas_soporte_politicas.probleas_usuarios_formulario"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".vistaTiendas.ver_mas_servicios"
            android:exported="false" />
        <activity
            android:name=".recuperarContra"
            android:exported="false" />
        <activity
            android:name=".vistaTiendas.verServicios"
            android:exported="true">
            <intent-filter>
                <action android:name="SERVICIOS_TIENDAS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".vistaTiendas.generarQRPedidoArticulos"
            android:exported="false" />
        <activity
            android:name=".vistaTiendas.historialCompras"
            android:exported="false" />
        <activity
            android:name=".vistaTiendas.carrito_compras"
            android:exported="false" />
        <activity
            android:name=".vistaTiendas.NoticiasYofertasFiltrado"
            android:exported="false" />
        <activity
            android:name=".confirmacionCompraTienda.confirmacion_de_compra_tienda"
            android:exported="false" />
        <activity
            android:name=".vistasPubliciadesGeinz.crear_cuenta_Tienda"
            android:exported="false" />
        <activity
            android:name=".vistasPubliciadesGeinz.noticiasGeinzpb"
            android:exported="false" />
        <activity
            android:name=".vistaTiendas.TodasPromocionesSugeridasFiltrado"
            android:exported="false" />
        <activity
            android:name=".vistaTiendas.vistaRecicleProductos"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".vistaTiendas.vistaProductosGeneralTiendas"
            android:exported="true">
            <intent-filter>
                <action android:name="PRODUCTOS_PRINCIPALES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".vistaTiendas.Vista_mostrarTodos_Tiendas"
            android:exported="false" />
        <activity
            android:name=".vistaTiendas.TiendasGenerales"
            android:exported="false" />
        <activity
            android:name=".vistaTiendas.Ver_mas_anuncios_tiendas"
            android:exported="false" />
        <activity
            android:name=".vistaTiendas.Agregar_Ver_Review"
            android:exported="false" />
        <activity
            android:name=".vistaTiendas.VistaTienda"
            android:exported="true">
            <intent-filter>
                <action android:name="VISTA_TIENDA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".noticias_y_review"
            android:exported="false" />
        <activity
            android:name=".vistaTrabajador.ver_detalles_Promociones"
            android:exported="true">
            <intent-filter>
                <action android:name="SUBIDA_NOTICIAS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditarReview"
            android:exported="false" />
        <activity
            android:name=".FuncionalidadGeinz.Cuenta_Info"
            android:exported="false" />
        <activity
            android:name=".FuncionalidadGeinz.Categorias_info"
            android:exported="false" />
        <activity
            android:name=".FuncionalidadGeinz.Noticias_Info"
            android:exported="false" />
        <activity
            android:name=".FuncionalidadGeinz.Inicio_info"
            android:exported="false" />
        <activity
            android:name=".FuncionalidadGeinz.comoUsar"
            android:exported="false" />
        <activity
            android:name=".planes"
            android:exported="false" />
        <activity
            android:name=".Crea_tu_publicidad"
            android:exported="false" />
        <activity
            android:name=".Nosotros"
            android:exported="false" />
        <activity
            android:name=".vistas_anuncios_general"
            android:exported="false" />
        <activity
            android:name=".EditarInfo"
            android:exported="false" />
        <activity android:name=".vistaTrabajador.vista_CategoriasT" />
        <activity
            android:name=".vistaTrabajador.vistaTrabajador"
            android:exported="true" />
        <activity
            android:name=".caracteristicaTrabajo"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".passwordYuser"
            android:exported="false" />
        <activity
            android:name=".Seleccion_de_Trabajo"
            android:exported="false" />
        <activity
            android:name=".GraciasRegistro"
            android:exported="false" />
        <activity
            android:name=".veirificacionDatos"
            android:exported="false" />
        <activity
            android:name=".CuentaFreelancer"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".CuentaUser"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
<!--        <service-->
<!--            android:name=".model.MyFirebaseService"-->
<!--            android:exported="false">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.google.firebase.MESSAGING_EVENT" />-->
<!--            </intent-filter>-->
<!--        </service>-->

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"> <!--- clave -->
            <intent-filter>
                <action android:name="OPEN_LINK"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="geinzworkapp.web.app"
                    android:pathPrefix="/api" />

                <data
                    android:scheme="https"
                    android:host="geinzworkapp.web.app"
                    android:pathPrefix="/scree" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/notification_ic" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/violetaQR" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/notificacion_chanel_id_defaul" />
    </application>

</manifest>